<% layout('./layout/boilerplate') -%>
<div class="container row d-flex m-auto">
  <% for(let course of courses){ %>
  <div class="col-md-6 col-lg-4 col-xl-3 col-sm-12">
    <div class="card course-card">
      <div class="card-body">
        <h5 class="card-title"><%=course.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          By <%= course.tutor.first_name.toUpperCase() %> <%=
          course.tutor.last_name.toUpperCase() %>
        </h6>
        <p class="card-text"><%= course.description.substring(0,61)%>....</p>
        <a href="classes/<%=course._id%>" class="card-link">View More</a>
      </div>
    </div>
    <br />
  </div>
  <% } %>
</div>
