<% layout('./layout/boilerplate') -%>

<div class="px-5 py-5">
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><%=course.title%></h2>
                <h4 class="card-subtitle"><%=course.tutor.first_name %> <%=course.tutor.last_name %></h4>
            
                <p class="card-text"><%=course.description %></p>
                
                    <% if(isOwner){ %> 
                    <form action="/classes/<%=course._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% }if(!alreadyEnrolled && !isTutor){ %> 
                    <!-- <form action="/classes/<%=course._id %>/enroll" method="POST" class="d-inline">
                        <button class="btn btn-success">Enroll</button>
                    </form> -->

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EnrollModal">
                            Enroll
                        </button>

                        <!-- modal -->
                        <div class="modal fade" id="EnrollModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EnrollModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="EnrollModalLabel">Enter Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/classes/<%=course._id %>/enroll" method="POST" id="password_form">
                                        
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" name="password">
                                            <label for="floatingPassword">Password</label>
                                          </div>
                                      </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" form="password_form" formaction="/classes/<%=course._id %>/enroll" formmethod="POST">Enroll</button>
                                </div>
                            </div>
                            </div>
                        </div>


                    <% }if(alreadyEnrolled){ %> 
                    <form action="/classes/<%=course._id %>/unenroll" method="POST" class="d-inline">
                        <button class="btn btn-success">UnEnroll</button>
                    </form>
                    <% }if(isOwner){ %> 


                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Add new lesson
                        </button>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal">
                            Edit Password
                        </button>
                        <% } %> 
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Add new Lesson</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/classes/<%=course._id %>/lessons" method="POST" id="new-lesson">
                                        
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" name="lesson[previousLesson]">
                                            <label for="floatingPassword">Previous Lesson Title</label>
                                          </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput" name="lesson[title]" >
                                            <label for="floatingInput">Title</label>
                                          </div>
                                          <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingPassword" name="lesson[lessonUrl]" >
                                            <label for="floatingPassword">Lesson Url</label>
                                          </div>
                                      </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="new-lesson" formaction="/classes/<%=course._id %>/lessons" formmethod="POST">Add</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    

                        

                        <!-- modal -->
                        <div class="modal fade" id="EditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="EditModalLabel">Edit Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/classes/<%=course._id %>/modifyPassword" method="POST" id="edit_password_form">
                                        
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" name="password">
                                            <label for="floatingPassword">New Password</label>
                                          </div>
                                      </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" form="edit_password_form" formaction="/classes/<%=course._id %>/modifyPassword" formmethod="POST">Save</button>
                                </div>
                            </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-4">
        <table class=" table table-bordered">
            <tr>
                <th>No.</th>
                <th>Lesson</th>
            </tr> 
            <%let count=0 %>
            <% for (let lesson of course.lessons){ %>
                <tr>
                    <td><%=  count %></td>
                    <% if(alreadyEnrolled || isOwner){ %> 
                    <td><a href="<%= lesson.lessonUrl%>" target="_blank"><%=lesson.title %></a>
                        <% }else{ %>
                            <td><span><%=lesson.title %></span>
                                <% }if(isOwner){ %> 
                        <form action="/classes/<%= course._id %>/lessons/<%= lesson._id %>?_method=Delete" method="post"  class="d-inline">
                            <button class="btn btn-danger btn-sm" style="float:right;"><i class="fa fa-trash"></i></button>
                        </form>
                        <% } %> 
                    </td>
                        
                </tr> 
                <% count+=1 %> 
                <% } %>  
        </table>
    </div>
</div>

</div>



